**/build/
**/CMakeFiles/
**/CMakeCache.txt
**/*.cmake
**/Makefile
**/cmake_install.cmake

server/server
node_a/node_a
node_b/node_b

*.o
*.a
*.so
*.out

**/generated/
*.pb.cc
*.pb.h

**/accel/
*.log

.DS_Store
.vscode/
.idea/
*.user